body {
    text-align: center; /*Sentrerer all tekst i body*/
    font-family: Arial, sans-serif;
    font-weight: bold; /*Gjør all tekst i body fet*/
    background-image: url('https://img.freepik.com/premium-vector/el-monogram-logo-design-letter-text-name-symbol-monochrome-logotype-alphabet-character-simple-logo_955145-11458.jpg');
    background-repeat: no-repeat; /*Forhindrer gjentakelse av bakgrunnsbilde*/
    background-position-x: center; /*Sentrerer bakgrunnsbildet horisontalt*/
}   
button {
    padding: 10px 20px; /*Legger til padding for å gjøre knappen større*/
    font-size: 16px; /*Endrer skriftstørrelsen på knappene*/
    background-color: rgb(48, 49, 49); 
    color: #ffffff; /*Endrer fargen på teksten i knappene*/
    border: none; /*Fjerner standard kantlinje*/
    border-radius: 5px; /*Legger til avrundede hjørner*/
    cursor: pointer; /*Endrer musepekern til finger*/
    font-family: Arial, Helvetica, sans-serif; /*Endrer font til Arial, Helvetica eller sans-serif*/
    font-weight: bold; /*Gjør all tekst i body fet*/
}

button:hover {
    background-color: rgb(113, 117, 117); /*Endrer bakgrunnsfarge når musen er over knappen*/
    padding: 12px 22px; /*Legger til padding når musen er over knappen*/
}

footer{
    bottom: 0; /*Plasserer footer nederst på siden*/
    position: fixed; /*Fester footeren nederst på siden*/
    margin-left: 563px;
}
