body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/premium-vector/el-monogram-logo-design-letter-text-name-symbol-monochrome-logotype-alphabet-character-simple-logo_955145-11458.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
}   
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #313232;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #717575;
}

